<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to 'application' class="navbar-brand"}}
    <img src="/safari-pinned-tab.svg?v=YAobjv3gzR" class="fb-logo">
    <span class="navbar-brand-text">Broodings...</span>
  {{/link-to}}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{!--#link-to 'home' tagName="li" class="nav-item" bubbles=false}}
        {{#link-to 'home' class="nav-link"}}Home{{/link-to}}
      {{/link-to--}}
      {{#link-to 'blogs' tagName="li" class="nav-item" bubbles=false}}
        {{#link-to 'blogs' class="nav-link"}}Blogs{{/link-to}}
      {{/link-to}}
      {{!--#link-to 'about' tagName="li" class="nav-item" bubbles=false}}
        {{#link-to 'about' class="nav-link"}}About me/blog{{/link-to}}
      {{/link-to--}}
    </ul>
    <div class="form-inline my-2 my-lg-0">
      {{#unless session.isAuthenticated}}
        <button class="btn my-2 my-sm-0 p-1" {{action 'login' }}>Login</button>
      {{else}}
        <button class="btn my-2 my-sm-0 p-1" {{action 'logout' }}>Logout</button>
        <span class="sep"></span>
        <span class="m-1">{{session.currentUser.displayName}}</span>
        <span class="sep"></span>
        <img src='{{session.currentUser.photoURL}}' height='40px' width='40px' class="ml-1">
      {{/unless}}
    </div>
  </div>
</nav>
{{!--<div class="jumbotron h-100 bg-lighter">
  <h1 class="display-4">Uh, Oh!</h1>
  <p class="lead">So...I wasn't really expecting anyone here just yet.</p>
  <hr class="my-4">
  <p>Do check back later, though. You never know.</p>
</div>--}}
{{outlet}}
{{!--Footer Goes here--}}
