<h3 id="about" class="page-title p-1">Blogs</h3>
<div class="list-group m-2">
  {{#each model.POSTS as |post|}}
    {{#link-to 'blogs.view' post class="list-group-item list-group-item-action flex-column align-items-start m-2"}}
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{post.title}}</h5>
        <small>{{format-timestamp post.post_created_at}}</small>
      </div>
      {{post-content-sample content=post.sample_content}}
    {{!--<small>Donec id elit non mi porta.</small>--}}
    {{/link-to}}
  {{else}}
    <span class="no-posts p-5 text-center">No posts available for you!</span>
  {{/each}}
</div>
{{outlet}}
